.status-container {
    display: flex;
    flex-direction: row;
}

.status-content-container {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

#status-select {
    margin-left: 5px;
}