.stories-container-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px dotted var(--color-primary);
}

.author-story-container {
    flex-basis: 525px;
    flex-direction: column;
}

.author-thumbnail {
    max-width: 50px;
}

.image-container {
    margin-top: 50px;
}

.image-detail {
    max-width: 300px;
}