.story-detail-container {
    display: flex;
    flex-direction: column;
    /*border-top: 1px solid var(--color-primary);*/
    border-bottom: 2px solid var(--color-primary);
}

.title-author-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.story-detail-link {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
}

.special-link:hover {
    text-decoration: underline;
}

.icon {
    width: 5px;
    height: 5px;
    margin: 0 5px;
}

.arrow-icon {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-left: 2px;
}

.story-content {
    margin: 20px 0;
}

.publish-date, .story-status {
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: grey;
}

.theme-name {
    border-top: 1px solid var(--color-primary);
    padding: 8px 0;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: grey;
}