.story-detail-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.title-author-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.story-detail-link {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    width: 5px;
    height: 5px;
    margin: 0 5px;
}

.story-content {
    margin: 15px 0;
}

.publish-date {
    text-align: center;
}