.author-stories {
    margin: 40px 0;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-primary);
    margin: 10px 0;
    padding: 10px 0 80px;
}

.author-info-container {
    flex-basis: 400px;
}

.published-title {
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    padding: 10px 0;
}

.profile-photo-container {
    max-width: 225px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    max-width: 200px;
    margin: 10px 0 10px 10px;
}

.profile-picture-empty {
    height: 50px;
    width: 50px;
}

.edit-link {
    margin-top: 15px;
}

.show-button {
    margin: 40px 0 20px;
}