.bulk-publish-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-top: 15px;
    border-top: 1px dotted black;
    align-items: center;
}

.no-stories-container {
    margin-top: 20px;
}

.publish-story-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px dotted var(--color-primary);
    padding-bottom: 10px;
    margin: 2em 0;
}

.bulk-publish-button {
    margin-left: 1em;
}

.publish-success {
    margin-top: 25px;
}