.header {
    background-color: var(--color-primary);
}

.header-container {
    width: 100%;
    margin: 2em 2.5em;
}

.header-title {
    color: var(--color-secundary);
    display: flex;
    flex-direction: column;
}

.header-title h2 {
    text-transform: uppercase;
    font-size: 0.8em;
}