.user-container, .author-container {
    display: flex;
    flex-direction: row;
}

.user-list, .author-list{
    display: flex;
    flex-direction: row;
}

.user-table, .author-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td, .author-table th, .author-table td {
    padding: 8px;
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 0.9em;
    border: 1px solid #ddd;
}

.user-table th, .author-table th {
    background-color: #f4f4f4;
}

.user-table tr:hover, .author-table tr:hover {
    background-color: #f1f1f1;
}

.sub-titles {
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .main-container.user-section, .main-container.author-section {
        flex-direction: column;
        align-items: center;
    }
    .aside-menu.editor-menu {
        min-width: 300px;
        padding: 4em 0;
    }
    .user-container, .author-container {
        overflow-x: auto;
        width: 100%;
    }
    .user-table, .author-table {
        width: 100%;
        min-width: 600px;
        table-layout: auto;
    }
}

@media screen and (max-width: 600px) {
    /*.user-list {*/
    /*    overflow-x: auto;*/
    /*    display: block;*/
    /*    white-space: nowrap;*/
    /*}*/
    /*table {*/
    /*    width: 100%;*/
    /*    border-collapse: collapse;*/
    /*}*/

}
