footer {
    width: 100%;
    height: 3em;
    bottom: 0;
    text-transform: uppercase;
    color: var(--color-secundary);
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright-info {
    display: flex;
    flex-direction: row;
}

#copyright-icon {
    filter: invert(100%);
    width: 20px;
    margin: 0 2px;
}

.about-link {
    color: white;
}