.sub-links {
    padding: 10px 0;
}

.dashboard {
    margin-bottom: 10px;
}

.editor-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: 2px solid var(--color-primary);
    padding-top: 0.6em;
}

.manage-users {
    border-bottom: 2px solid black;
}
