.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 5em;
}

.inner-content-container {
  display: flex;
  flex-direction: column;
  margin: 0 2.5em;
  flex-basis: 1000px;
  flex-shrink: 1;
  flex-grow: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin: 0 0 50px;
}

.featured-section {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
  flex-shrink: 1;
  flex-grow: 0;
  padding: 1em 3em 0 0;
}

.titles {
  margin: 20px 0 10px;
}

form {
  margin-top: 1.8em;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

label {
  padding: 5px 0 5px;
  display: flex;
  flex-direction: column;
}

.back-link {
  padding-bottom: 20px;
}

.active-menu-link {
  text-decoration: underline;
}

.default-menu-link {
  text-decoration: none;
}

button {
  margin-top: 10px;
}

.authority-check {
  margin-top: 40px;
}