@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #000000;
  --color-secundary: #FFFFFF;
}

a {
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Smooch', sans-serif;;
  font-size: 4.5em;
  line-height: 1.1;
}

h2, h2, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size:  1.4em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

h5, p, ul {
  font-family: 'Optima', sans-serif;
  font-size: 0.9em;
}

button {
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

