@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  --color-primary: #000000;
  --color-secundary: #FFFFFF;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Smooch', sans-serif;;
  font-size: 4.5em;
  line-height: 1;
}

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size:  1.4em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

h5, p, ul {
  font-family: 'Optima', sans-serif;
  font-size: 0.9em;
}

li {
  list-style: none;
}

.error-message {
  padding: 20px 0;
}

textarea {
  padding: 5px;
}




/*button:hover {*/
/*}*/

/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

