.section-title {
    padding-bottom: 10px;
}

.dashboard-section {
    padding: 40px 0 10px;
}

.dashboard-nav-links {
    display: flex;
    flex-direction: row;
}

.dashboard-nav-links h4 {
    padding-right: 15px;
}