.submit-story-link {
    flex-shrink: 0;
}

.themes-container-page {
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    border: 1px solid var(--color-primary);
    padding: 10px;
}

.themes-container-aside {
    margin: 20px 15px;
    padding: 5px 0 0;
    border: 1px solid var(--color-primary);
}