.filter-container {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.filter-container label {
    display: inline-flex;
    align-items: center;
    margin-right: 2em;
    cursor: pointer;
}

input[type="radio"] {
    accent-color: var(--color-primary);
}